[submodule "RandomNumber"]
	path = RandomNumber
	url = https://github.com/sudahiroshi/RandomNumber.git
[submodule "vowel_simulator"]
	path = vowel_simulator
	url = https://github.com/sudahiroshi/vowel_simulator.git
[submodule "freqdraw"]
	path = freqdraw
	url = https://github.com/sudahiroshi/freqdraw.git
[submodule "StringVibration"]
	path = StringVibration
	url = https://github.com/sudahiroshi/StringVibration.git
[submodule "chord"]
	path = chord
	url = https://github.com/sudahiroshi/chord.git
[submodule "solid_wave"]
	path = solid_wave
	url = https://github.com/sudahiroshi/solid_wave.git
