@media screen and (max-width: 700px) {
  #content {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  #content {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

html,
body {
  font-family: sans-serif;
  padding: 0px;
  background-color: #eee;
}
header,
footer {
  width: 100%;
  text-align: center;
}
nav {
  border-bottom: 1px solid #ccc;
  background-color: #181d0b;
}
p {
  margin: 0;
  color: #0c0c0c;
}
nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li {
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ccc;
}
nav ul li:first-child {
  border-left: 1px solid #ccc;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #f0f0f0;
}
nav ul li a:hover {
  background-color: #3e6d2c;
  border-bottom: 5px solid #3e6d2c;
  color: #f0f0f0;
}
nav ul li.active {
  font-weight: bold;
}
nav ul li.active a {
  border-bottom: 5px solid #70c74e;
  color: #f0f0f0;
}
#content {
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
main {
  margin: 1em;
  flex: 1;
}
aside {
  flex: 0 0 250px;
}
aside p {
  font-size: 80%;
  color: #202020;
}
.simulator {
  border: 1px solid #000000;
  padding: 0;
  border-radius: 0.5em;
}
.simulator h3 {
  margin: 0;
  padding: 0.3em;
  background-color: #b6daa8;
  border-bottom: 1px solid #000000;
  border-radius: 0.3em 0.3em 0 0;
}
.description {
  background-color: #fffffc;
  padding: 0.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0 0 0.5em 0.5em;
}
.description .left {
  flex: 1;
  margin: 0.3em;
}
.description .right {
  flex: 0 0;
}
.danger {
  font-size: 90%;
  color: #202020;
  margin: 0.5em 0.5em;
}
.danger:before {
  display: inline;
  padding: 0.2em 0.6em 0.2em;
  margin: 0.8em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #d9534f;
  color: #ffffff;
  content: "注意";
}

.learn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  text-decoration: none;
}
.learn.active.focus,
.learn.active:focus,
.learn.focus,
.learn:active.focus,
.learn:active:focus,
.learn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.learn.focus,
.learn:focus,
.learn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.learn.active,
.learn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
