@media screen and (max-width: 700px) {
  #content {
    flex-direction: column;
  }
}

html,
body {
  font-family: sans-serif;
  padding: 0px;
  background-color: #eee;
}
header,
footer {
  width: 100%;
}
nav {
  border-bottom: 1px solid #ccc;
  background-color: #181d0b;
}
nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li {
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ccc;
}
nav ul li:first-child {
  border-left: 1px solid #ccc;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #f0f0f0;
}
nav ul li a:hover {
  background-color: #3e6d2c;
  border-bottom: 5px solid #3e6d2c;
  color: #f0f0f0;
}
nav ul li.active {
  font-weight: bold;
}
nav ul li.active a {
  border-bottom: 5px solid #70c74e;
  color: #f0f0f0;
}
#content {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
main {
  flex: 1;
}
aside {
  flex: 0 0 200px;
}
.danger2:before {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  margin-right: 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #d9534f;
  color: #ffffff;
  content: "注意";
}
.danger2 {
  border-bottom: 1px solid #ff0000;
}

.navbar {
  margin: 0px;
}

.container > footer p {
  text-align: center;
  /* center align it with the container */
}

.container {
  width: 820px;
  /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}
/* The white background content wrapper */

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
/* Page header tweaks */

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
/* Styles you shouldn't keep as they are for displaying this base example only */

.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */

.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

.atomic {
  border-bottom: ridge;
}
#sideView_wrapper {
  height: 400px;
  width: 500px;
  border-top: 1px solid #999 !important;
  border-left: 1px solid #999 !important;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.3) !important;
  position: fixed !important;
  right: 0px !important;
  bottom: 0px !important;
  z-index: 2147483646;
}

#sideView_ifr {
  border: none !important;
  height: 100%;
  width: 100%;
}

#sideView_wrapper {
  position: fixed !important;
  left: auto !important;
  right: 0px !important;
  top: auto !important;
  bottom: 0px !important;
}

#sideView_wrapper .ui-resizable-nw {
  background-image: url("chrome-extension://oonalfdoahlmjaoloddjenihohbfodme/img/resize-grip-nw.png") !important;
  background-repeat: no-repeat !important;
  cursor: nw-resize !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
}

sideView_icons {
  padding: 0 !important;
  margin: 0 !important;
  border-style: none !important;
  z-index: 1002 !important;
}

#pun_ui {
  width: 24px;
  height: 24px;
  position: absolute !important;
  left: 7px !important;
  top: -2px !important;
  z-index: 1005;
}

#pun_ui[ison="true"] {
  background-image: url("chrome-extension://oonalfdoahlmjaoloddjenihohbfodme/img/pin_on.png") !important;
}

#pun_ui[ison="false"] {
  background-image: url("chrome-extension://oonalfdoahlmjaoloddjenihohbfodme/img/pin_off.png") !important;
}

#toggle_header {
  width: 24px;
  height: 24px;
  position: absolute !important;
  left: 33px !important;
  top: 0px !important;
}

#toggle_header[ison="true"] {
  background-image: url("chrome-extension://oonalfdoahlmjaoloddjenihohbfodme/img/openheader.png") !important;
}

#toggle_header[ison="false"] {
  background-image: url("chrome-extension://oonalfdoahlmjaoloddjenihohbfodme/img/hideheader.png") !important;
  z-index: 1005;
}
